<% include ../partials/header.html %>

<div id="content" >
  <h1><%= title %></h1>

  <a href="/user/add">Nuevo Usuario</a>

  <hr>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Direccion</th>
      </tr>
    </thead>
    <tbody>

      <% users.forEach(function(msgObj){ %>
        <tr>
          <td><%= msgObj.nombre %></td>
          <td><%= msgObj.apellido %></td>
          <td><%= msgObj.telefono %></td>
          <td><%= msgObj.direccion %></td>
        </tr>
      <% }) %>


    </tbody>
  </table>

</div>

<% include ../partials/footer.html %>
