<% include ../partials/header.html %>

<div id="content">
  <h1><%= title %></h1>

  <a href="/">Regresar</a>
  <hr>

  <form id="form_id" action="" method="post" class="col-xs-6">

    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Apellido</label>
      <input type="text" name="apellido" class="form-control" placeholder="Ingrese Apellido">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Telefono</label>
      <input type="text" name="telefono" class="form-control" id="exampleInputPassword1" placeholder="Ingrese Telefono">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Direccion</label>
      <textarea class="form-control" name="direccion" rows="3" placeholder="Ingrese Direccion"></textarea>
    </div>

    <input type="submit" name="some_name" value="Guardar Usuario" class="btn btn-primary">

  </form>

</div>

<% include ../partials/footer.html %>
